Checks: '
    *,
    -abseil-*,
    -altera-*,
    -boost-*,
    -android-*,
    -darwin-*,
    -fuchsia-*,
    -google-*,
    -linuxkernel-*,
    -llvm-*,
    -llvmlibc-*,
    -objc-*,
    -zircon-*
    -openmp-*,

    -readability-identifier-length,
    -readability-magic-numbers,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -bugprone-easily-swappable-parameters,
    -cppcoreguidelines-interfaces-global-init,
    -performance-no-int-to-ptr,
    -misc-no-recursion
'
